@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  /* Colors */
  --white: white;
  --white-opacity: rgba(255, 255, 255, 0.7);
  --grey: #a4a2a2;

  /*Spacing*/
  --spacingXS: 0.5rem;
  --spacingS: 1rem;
  --spacingM: 2rem;
  --spacingL: 3rem;
  --spacingXL: 4rem;

  /* Typography */
  --font: "Montserrat", sans-serif;
  --small: 9px;
  --h1: 80px;
  --h1-mobile: 40px;
  --text: 20px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: url("./assets//images/background.png") no-repeat;
  background-size: cover;
  font-family: var(--font);
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacingS);
  color: var(--white);
  font-size: var(--small);
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: var(--spacingS);
}

.container h1 {
  text-transform: uppercase;
  color: var(--white);
  font-size: var(--h1-mobile);
  margin-bottom: var(--spacingM);
}

.container h1 span {
  -webkit-text-stroke: 1px var(--white);
  color: transparent;
}

.container p {
  color: var(--white-opacity);
  font-size: var(--text);
  line-height: 140%;
  margin-bottom: var(--spacingM);
}

.container .newsletter p {
  color: var(--white);
  font-size: var(--text);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: var(--spacingS);
}

.container .newsletter .input {
  display: flex;
}

.container .newsletter input[type="text"] {
  border: 0.5px solid var(--white);
  border-radius: 10px 0px 0px 10px;
  padding: 0rem var(--spacingS);
  background-color: transparent;
}

.container .newsletter input[type="text"]::placeholder {
  color: var(--white-opacity);
  font-family: var(--font);
}

.container .newsletter button[type="submit"] {
  background: var(--white);
  border: 0;
  padding: var(--spacingXS) var(--spacingS);
  -webkit-appearance: none;
  border-radius: 0px 10px 10px 0px;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}

.social-media img {
  padding: var(--spacingXS);
  margin-top: var(--spacingS);
}

.footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.footer p {
  color: var(--grey);
  font-size: var(--small);
  width: 70%;
  text-align: right;
}

/** RESPONSIVE **/
@media screen and (min-width: 576px) {
  .flex {
    display: flex;
    align-items: center;
  }

  .flex img.mockup {
    margin-top: var(--spacingM);
  }
}

@media screen and (min-width: 768px) {
  .container h1 {
    font-size: var(--h1);
  }

  .container p {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .flex img.mockup {
    width: 28%;
    margin-bottom: 0;
  }

  .footer {
    margin-top: 0;
  }
}
