*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  min-height: 100vh;
  color: var(--black);
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .back {
  display: flex;
  align-items: center;
  color: var(--white);

  margin-bottom: var(--spacingS);
}

.container .back a {
  color: white;
  font-size: var(--small);
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: var(--spacingL);
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  color: var(--black);
  font-size: var(--h2);
  margin-bottom: var(--spacingM);
}

.card {
  background-color: var(--white);
  box-shadow: 0 0 0 1px var(--black5), 0 20px 50px 0 var(--black10);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: var(--spacingM);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  margin: 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.card-header {
  padding: var(--spacingM);
}

.card-header p {
  font-size: var(--text);
  line-height: 1.5rem;
  color: var(--black80);
}

.card-footer {
  padding: var(--spacingM);
  font-size: var(--small);
  margin-top: var(--spacingS);
  border-top: 1px solid #ddd;
  padding-top: var(--spacingS);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-meta {
  display: flex;
  align-items: center;
  color: var(--black50);
}

.card-meta:first-child::after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.card-meta svg,
.container .back svg {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: var(--spacingXS);
}

/** RESPONSIVE **/
@media screen and (min-width: 576px) {
  h1 {
    margin-bottom: var(--spacingM);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 50%;
  }
}
