html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--white);
  padding: var(--spacingL);

  border-radius: var(--spacingL);
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.container h1 {
  font-size: var(--h1);
  margin-bottom: var(--spacingL);
  margin-top: var(--spacingL);
}

.container p {
  margin-bottom: var(--spacingL);
}

.container button {
  background-color: var(--red);
  border: 0;
  font-family: var(--font);
  font-weight: 600;
  font-size: var(--text);
  color: white;
  border-radius: var(--spacingL);
  padding: var(--spacingS) var(--spacingM);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card {
    width: 60%;
  }

  .container {
    width: 60%;
  }
}
