@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  /* Colors */
  --white: white;
  --black: #303030;
  --black5: rgba(48, 48, 48, 0.05);
  --black10: rgba(48, 48, 48, 0.1);
  --black50: rgba(48, 48, 48, 0.5);
  --black80: rgba(48, 48, 48, 0.8);
  --white-opacity: rgba(255, 255, 255, 0.7);
  --grey: #a4a2a2;
  --red: #d62839;
  --red-light: #fff0f2;

  /*Spacing*/
  --spacingXS: 0.5rem;
  --spacingS: 1rem;
  --spacingM: 2rem;
  --spacingL: 3rem;
  --spacingXL: 4rem;

  /* Typography */
  --font: "Montserrat", sans-serif;
  --small: 12px;
  --h1: 40px;
  --h2: 25px;
  --title: 18px;
  --text: 16px;
  --button: 14px;
}

@media screen and (min-width: 768px) {
  :root {
    --h1: 80px;
    --h2: 40px;
    --small: 14px;
    --title: 22px;
    --button: 16px;
    --text: 20px;
  }
}
